{% extends 'base.html.twig' %}

{% block body %}
  <div id="container">
    <h1>Add new tender</h1>
    <small>
  <span style="text-align: center; color: red">
        {% for error in form.vars.errors.form.getErrors(true) %}
          {{ error.message }}<br>
        {% endfor %}
  </span>
    </small>
    <div id="create-container">
      <form method="post" action="{{ path('new_tender') }}">
        <label>
          <input type="text" placeholder="Name *" name="tender[name]">
        </label><br>
        <label>
          <input type="text" placeholder="City *" name="tender[city]">
        </label><br>
        <label>
          <input type="text" placeholder="Type *" name="tender[type]">
        </label><br>
        <label>
          <input type="number" placeholder="Budget [BGN] *" name="tender[money]">
        </label><br>
        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd">
            <input class="form-control" type="text" placeholder="Pick the deadline for the tender *" value=""
                   readonly name="tender[deadline]">
          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <label>
          <input type="hidden" value="{{ app.user.firstName }} {{ app.user.lastName }}" name="tender[addedBy]">
        </label><br>
        {{ form_row(form._token) }}
        <input type="submit" name="tender[submit]" value="Add">
      </form>
      <div id="required_fields">
        * Required fields
      </div>
    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript">
        $('.form_date').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
  {% endblock %}

{% endblock %}
