{% extends 'base.html.twig' %}

{% block body %}
  <span>
     <div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="Create">
      <h1>Edit objects</h1>

      <form method="post" action="{{ path('edit_user', {'id' : users.id}) }}">
        Change User Name: <input type="text" value="{{ users.username }}" name="app_bundle_user_type[username]"><br>
        Change password: <input type="text" value="{{ users.password }}" name="app_bundle_user_type[password]"><br>
        Change email: <input type="text" value="{{ users.email }}" name="app_bundle_user_type[email]"><br>
        <input type="submit" value="Change">
        <input type="button" onclick="history.back()" value="Go back without any changes">
        {{ form_row(form._token) }}
      </form>

      <br/>
      <a href="{{ path('create') }}">Create a new object</a><br>
      or<br>
      Go to <a href="{{ path('homepage') }}">Index page</a>
    </div>
  </div>
     </span>
{% endblock %}
