{% extends 'base.html.twig' %}

{% block body %}

  <span><div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="Create">
      <h1>List of objects</h1>

      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>User Name</th>
          <th>Password</th>
          <th>EMail</th>
          <th>Remove</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td><a href="{{ path('remove_user', {'id' : user.id}) }}"
                   onclick="return confirm('Are you sure to delete?')">Remove</a></td>
            <td><a href="{{ path('edit_user', {'id' : user.id}) }}">Edit</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br/>
      <a href="{{ path('create') }}">Create a new object</a><br>
      or<br>
      Go to <a href="{{ path('homepage') }}">Index page</a>

    </div>

  </div>
    </span>
{% endblock %}


