<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Tender and Conference Scheduler Platform{% endblock %}</title>
  {% block header %}
    <header>
      <div class="position-sticky">
        <ul>
          {% if app.user %}
            <li><a href="{{ path('security_logout') }}">Logout</a></li>
            <li><a href="{{ path('index_profile') }}">My Profile</a></li>
            <li><a href="{{ path('all_tenders') }}">All scheduled tenders</a></li>
            <li><a href="{{ path('conference_index') }}">All scheduled meetings</a></li>
          {% else %}
            <li><a href="{{ path('user_register') }}">REGISTER</a></li>
          {% endif %}
          <li style="float:left"><a class="active" href="{{ path('homepage') }}"><b>Tender and Conference Scheduler
                Platform</b></a></li>
        </ul>
      </div>
    </header>
  {% endblock %}
</head>
<body>
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
{% endblock %}

{% block body %}
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
  <script>
      setTimeout(function () {
          $('#info').fadeOut();
      }, 5000)
  </script>
{% endblock %}

{% block footer %}
  <footer>
    <div id="cont_bottom">
      {% if app.user %}
        You are logged in as: {{ app.user.firstName }} {{ app.user.lastName }} ({{ app.user.email }}) with
        {% if app.getUser() and (app.getUser().isAdmin()) %}
          Administrator and
        {% endif %}
        User rights.
      {% else %}
        You are not logged in.
      {% endif %}
      <br>Today is: {{ "now"|date("jS F, Y (D)") }}
      <br>Project developed by Miroslav Mitov using PHP v7.2.15 with Symfony Framework v3.4.30.
    </div>
  </footer>
{% endblock %}
</body>
</html>
