{% extends 'base.html.twig' %}

{% block body %}

  <div id="container">
    <h1>User profile</h1>
    <div id="register-container">
      {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
          <div class="flash-{{ label }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}
      <br>
      Hello, {{ user.firstName }} {{ user.lastName }}!<br>
      You are logged in as: {{ user.email }}<br>
      You have
      {% if app.getUser() and (app.getUser().isAdmin()) %}
        Administrator and
      {% endif %}
      User rights.<br>
      Your account was created on: {{ user.createdOn|date('jS F, Y \\a\\t H:i') }}<br>
      <hr>
      Your birthdate is {{ user.bornDate|date('d.m.Y') }}. You are {{ user.gender|lower }} and you are
      from {{ user.livingPlace }}.<br>
      More information about you: {{ user.additInfo }}<br>
      <hr>
      <button type="button" class="btn btn-primary btn-sm"
              onclick=location.href="{{ path('edit_profile', {'id': user.id}) }}">Edit your details
      </button>
      <button type="button" class="btn btn-primary btn-sm"
              onclick=location.href="{{ path('my_tenders', {'id': user.id}) }}">Tenders added by me
      </button>
{#      <button type="button" class="btn btn-primary-delete btn-sm"#}
{#              onclick=location.href="{{ path('user_delete', {'id': user.id}) }}">Delete your account!#}
{#      </button>#}

    </div>
  </div>

{% endblock %}

