{% extends 'base.html.twig' %}

{% block body %}
  <head>
    <title>Tenders list</title>
  </head>
  <div id="container">
    <h1>My added and assigned tenders</h1>
    {% for label, messages in app.flashes(['success', 'warning']) %}
      {% for message in messages %}
        <div class="flash-{{ label }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <table id="tender-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Type</th>
        <th>Budget<br>[BGN]</th>
        <th>Deadline</th>
        <th>Added on</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
      {% for tender in tenders %}
        <tr>
          <td><a href="{{ path('edit_tender', {'id' : tender.owner.id}) }}">{{ tender.owner.Name }}</a></td>
          <td>{{ tender.owner.City }}</td>
          <td>{{ tender.owner.Type }}</td>
          <td>{{ tender.owner.Money }}</td>
          <td><b>{{ tender.owner.Deadline|date('d.m.Y') }}</b></td>
          <td>{{ tender.owner.addedOn|date('d.m.Y') }}</td>
          <td><a href="{{ path('delete_tender', {'id' : tender.owner.id}) }}">Remove</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% endblock %}

{% endblock %}

