{% extends 'base.html.twig' %}

{% block body %}
  <div id="container">
    <h1>Conference scheduler</h1>
    <button type="button" class="btn btn-primary" onclick="window.location='{{ path('add_meeting') }}'">Schedule a NEW
      meeting/event
    </button>
    <br><br>

    {% for label, messages in app.flashes(['success', 'warning']) %}
      {% for message in messages %}
        <div class="flash-{{ label }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <div class="container">
      <div class="row">
        {% for meeting in meetings %}
          <div class="col-md-3">
            <h3>{{ meeting.meetingSubject }}</h3>
            <hr>
            Place: {{ meeting.meetingPlace }}<br>
            Date: {{ meeting.meetingDate|date('d M, Y') }}<br>
            <small>Initiated by: {{ meeting.initiatedBy }}</small><br>
            <hr>
            {% if app.getUser() and (app.getUser().isInitiator(meeting)) or app.getUser().isAdmin() %}
              <button type="button" class="btn btn-primary-delete btn-sm"
                      onclick=location.href="{{ path('cancel_meeting', {'id': meeting.id}) }}">Cancel Meeting
              </button>
              <button type="button" class="btn btn-primary btn-sm"
                      onclick=location.href="{{ path('rearrange', {'id': meeting.id}) }}">Rearrange Meeting
              </button>
              {% else %}
                <button type="button" class="btn btn-primary-disabled btn-sm">Cancel Meeting</button>
                <button type="button" class="btn btn-primary-disabled btn-sm">Rearrange Meeting</button>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>


  </div>



{% endblock %}

