{% extends 'base.html.twig' %}

{% block body %}

  <div id="container">
    <h1>Rearrange meeting</h1>
    <div>

      <form method="post">
  <div style="text-align: center; color: red">
        {% for error in form.vars.errors.form.getErrors(true) %}
          {{ error.message }}<br>
        {% endfor %}
  </div>
        <div id="register-container">
          <input type="text" value="{{ meeting.meetingPlace }}" name="meeting[meetingPlace]"><br>
          <input type="text" value="{{ meeting.meetingSubject }}" name="meeting[meetingSubject]"><br>
          <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd">
            <input class="form-control" type="text" placeholder="Pick a new meeting date" value="{{ meeting.meetingDate|date('d.m.Y') }}"
                   readonly name="meeting[meetingDate]">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <label>
            <input type="hidden" value="{{ app.user.firstName }} {{ app.user.lastName }}" name="meeting[initiatedBy]">
          </label><br>
          {{ form_row(form._token) }}
        </div>
        <br>
        <input type="submit" name="meeting[submit]" value="Rearrange your meeting!"> or
        <input type="button" onclick="history.back()" value="Go back &raquo;">
      </form>
    </div>
  </div>
  {% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript">
        $('.form_date').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            startDate: new Date(),
            minView: 2
        });
    </script>
  {% endblock %}
{% endblock %}

